<li><%= link_to "Home", pages_index_path  %></li>
<li><%= link_to "About us", pages_about_us_path  %></li>
<li><%= link_to "Services", pages_tos_path  %></li>
<li><%= link_to "FAQ", pages_faq_path  %></li>
<li><%= link_to "Contact us", pages_contact_us_path  %></li>